---
import Layout from '@/layouts/Layout.astro';
import { profile } from '@/settings';
// import BetterIcon from '@/components/ui/BetterIcon.astro';
// import List from '@/components/ui/List.astro';
// import { RESEARCH_ICONS } from '@/data/researchIcons';

// const { research_areas } = profile;
---

<Layout title='Research | Ceyhun Efe Kayan'>
  <div class='prose max-w-none'>
    <h1 class='text-3xl font-bold mb-8'>Research Statement</h1>

    <div class='mb-12'>
      <p class='text-lg mb-6' style='text-align:justify;'>
        My research aims to develop language models whose latent spaces encode
        information analogous to Plato's Theory of Forms. I envision creating
        neural architectures where the latent representation of a concept
        contains its essential nature, similar to how Platonic Forms embody the
        essence of objects. In this framework, different projections of the same
        latent embedding would generate various manifestations related to the
        concept—whether descriptions, actions, or relationships. This approach
        could potentially enhance models' generalization capabilities, enabling
        them to reason about concepts at a more abstract level while producing
        diverse but coherent outputs from a unified representation.
      </p>
      <p class='text-lg mb-6' style='text-align:justify;'>
        During my master's at Drexel University, I collaborated with Korkut Lab
        at MD Anderson Cancer Center on cutting-edge computational oncology
        research. I developed machine learning frameworks for predicting
        responses to targeted cancer therapies by integrating multi-omics data
        to model therapy-induced proteome dynamics. This interdisciplinary work
        enhanced my expertise in processing complex multi-omics datasets,
        designing neural architectures for healthcare applications, and bridging
        computational methods with clinical needs. The collaboration research
        thought me novel methodologies for cancer treatment prediction and
        provided invaluable experience in translational research that directly
        impacts patient care.
      </p>
    </div>
  </div>
</Layout>
